@font-face {
    font-family: display;
    src: url(CreatoDisplay-Regular.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: display;
}

main{
    position: relative;
    overflow: hidden;
}



.landing{
        position: relative;
        height: 100vh;
        width: 100vw;
}

#page1{
    background-color: rgb(0, 0, 0);
    overflow: hidden;

}

#nav{
    height: 12vh;
    background-color: rgba(0, 0, 0, 0.902);
    color: white;
    position: relative;
    z-index: 6;
}

#nav #upper{
    padding: 0.6% 24%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#upper img{
    height: 0.9vmax;;
}

#nav #upper a{
    color: rgb(201, 193, 193);
    text-decoration: none;
    font-family: display;
    font-size: 0.7vmax;
}

#nav #upper a:hover{
    color: rgb(255, 255, 255);
    font-weight: 200;
}

#nav #lower{
    padding: 0.9% 24%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: display;
    font-size: 1.1vmax;
    font-weight: 500;
}

#nav #lower button{
    padding: 0.8%;
    border-radius: 50px;
    width: 6vw;
    font-family: display;
}

#page1  video{
    /* width: 155%; */
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    /* top: 0%; */
    z-index: 1;
    height: 140%;
}

.page{
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background-color: black;
}

.page video{
    height: 100%;
    width:100%;
    object-fit: cover;
}

.page h1{
    font-size: 6vh;
    position: absolute;
    z-index: 15;
    transform: translatex(-50%);
    left: 50%;
    bottom: -5%;
    white-space: nowrap;
    color: white;
    font-family: display;
    text-align: center;
}

#page6{
    height: 120vh;
    width: 100vw;
    color: black;
    background-color: white;
    font-family: display;
}

#section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:6% 0;
}

#details{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: display;
}

#details img{
    margin: 7% 0%;
}

#details h2{
    padding: 0.9% 0%;
    font-family: display;
}

#h21{
    color: #FF5A00;
    font-size: 3.5vh;

}

#section img{
    width: 52%;
}

#h22{
    color:#86868B ;
    font-size: 2.6vh;
    margin-bottom: 7%;

}

#section button{
    font-size: 2.6vh;
    color: black;
    font-family: display;
    border-radius: 50px;
    padding: 0.6% 2.5%;

}

#section h1{
    font-family: display;
    font-size: 5.2vh;
    margin-bottom: 5.8%;

}

#page7{
    background-color: white;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}

#page7 video{
    /* margin: 2.5% ; */
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 5%;
    height: 90%;
    width: 90vw;
}

#page8{
    height: 50vh;
    width: 100vw;
    position: relative;

}

#sec8{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 6%;
}

#sec8 #sleft8{
    height: 30vh;
    /* background-color: red; */
    color: #1D1D1F;
}

#sec8 #sleft8 h2{
    font-family: display;
    font-size: 2vmax;
}

#sec8 #sright8{
    height: 30vh;
    /* background-color: green; */
    width: 50%;
    font-size: 2vmin;
    color: #86868B;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

#sec8 #sright8 h3{
    font-family: display;
    line-height: 1.4;
}


#sec8 #sright8 button{
    font-size: 2.6vh;
    color: rgb(255, 255, 255);
    font-family: display;
    border-radius: 50px;
    padding: 3.6% 2.5%;
    background-color:#FF5A00;
    border-style: none;
    font-size: 1vmax;
}

h1,h2,h3{
    font-family: display;
}

#page9{
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: #F5F5F7;
}

#page9 #info{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 46%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
}

#page9 h1{
    font-size: 5vmax;
    margin-bottom: 5%;
    margin-top: 3%;
}

#page9 h3{
    font-size: 1.2vmax;
    color: #86868B;
    line-height: 1.5;
}

#page9 h2{
    font-size: 1.8vmax;
}

#page10{
    background-color: #F5F5F7;
    height: 100vh;
    width: 100vw;
}

#page10 canvas{
    z-index: 15;
}

.subpageleftb{
    background-color: #F5F5F7;

    height: 100vh;
    width: 100vw;
    color: black;
    z-index: 10;
    position: relative;
    /* background-color: red; */
}

.subpagerighta{
    background-color: #F5F5F7;

    height: 100vh;
    width: 100vw;
    color: black;
    z-index: 10;
    position:relative;
    /* background-color: rgb(255, 0, 157); */
}


.subpageleft p{
    font-size: 1.2vmax;
    color: #86868B;
}


.subpageright p{
    font-size: 1.2vmax;
    color: #86868B; 
}

p{
    font-family: display;
}

.subpageright h3{
    font-size: 1.5vmax;
    color: #1D1D1F;
    display: inline;
}

.subpageleft h3{
    font-size: 1.5vmax;
    color: #1D1D1F;
    display: inline;
}

.subpageright{
    width: 20%;
    position: absolute;
    transform: translateX(100%);
    top: 50%;
    right: 25%;
    /* background-color: blue; */
}

.subpageleft{
    position: absolute;
    transform: translateX(-50%);
    top: 50%;
    left: 18%;
    width: 20%;

}

#page11{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

#page11 #left11{
    height: 95%;
    width: 40%;
    background-image: url(pic1.jpg);
    margin-left: 6%;
}

#page11 #right11{
    height: 95%;
    width: 40%;
    background-image: url(pic2.jpg);
    margin-right: 6%;
}

#page12{
    height: 100vh;
    width: 100vw;
}

#page12 video{
    width: 84%;
    margin: 0% 8%;
}

